@using PKzen.Models
@using PKzen.Services
@inject LanguageService LanguageService

<div @onclick="HandleClick" class="poke-card @(IsSelected ? "selected" : "")">
    <img src="@Pokemon.ImageUrl" alt="@Pokemon.SpeciesDetails.GetLocalizedName(LanguageService.CurrentLanguage)" />
    <h3>@Pokemon.SpeciesDetails.GetLocalizedName(LanguageService.CurrentLanguage)</h3>
    <div class="type-icons">
        @foreach (var type in Pokemon.Types)
        {
            <img src="@type.Details.TypeSprite"
                 alt="@type.Details.GetLocalizedName(LanguageService.CurrentLanguage)"
                 title="@type.Details.GetLocalizedName(LanguageService.CurrentLanguage)"
                 class="type-icon" />
        }
    </div>
</div>

@code {
    [Parameter]
    public Pokemon Pokemon { get; set; }

    [Parameter]
    public EventCallback<Pokemon> OnClick { get; set; }

    [Parameter]
    public bool IsSelected { get; set; }

    protected override void OnInitialized()
    {
        LanguageService.LanguageChanged += (sender, language) => StateHasChanged();
    }

    private async Task HandleClick()
    {
        await OnClick.InvokeAsync(Pokemon);
    }
}