@inherits LayoutComponentBase
@using PKzen.Components.Widgets;

<div class="container">
    <!-- Navbar superior -->
    <div class="navbar" @onmousedown="OnTitleBarClick">

        <!-- Titulo -->
        <div class="logo" @onmousedown:stopPropagation>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 256 256" width="70" height="70"><defs><style>.st0 {fill: url(#Degradado_sin_nombre_287);}.st1 {fill: #b2ccd6;}.st2 {fill: #ff5d5d;}.st3 {fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 4px;}.st4 {fill: #20252e;}</style><linearGradient id="Degradado_sin_nombre_287" data-name="Degradado sin nombre 287" x1="161.95" y1="195.21" x2="88.37" y2="67.78" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ea7149" /><stop offset=".19" stop-color="#e3a150" /><stop offset=".37" stop-color="#b0b93a" /><stop offset=".49" stop-color="#6da369" /><stop offset=".62" stop-color="#4facc7" /><stop offset=".72" stop-color="#588699" /><stop offset=".85" stop-color="#694984" /><stop offset="1" stop-color="#6e2460" /></linearGradient></defs><g id="Capa_2"><path class="st3" d="M4.17,133.65" /><path class="st4" d="M230.1,183.65c-40.97,75.48-148.08,81.2-197.14,10.35C-14.46,125.51,24.4,30.32,105.69,14.41c96.2-18.83,171.3,82.87,124.42,169.24Z" /><path class="st1" d="M229.03,141.41c-1.04,8.25-2.92,16.44-5.92,24.19-18.61,48.14-70.46,74.98-120.84,61.53-39.11-10.44-68.66-43.81-74.16-83.98l62.48-.75c.67.23,1.4,2.97,1.81,3.81,9.2,18.87,30.37,27.57,50.27,20.09,11.07-4.16,19.77-13.43,23.52-24.59l62.84-.29Z" /><path class="st2" d="M90.75,116.71l-62.68.68c4.05-37.98,30.87-70.9,66.7-83.55,56.45-19.94,118.38,13.87,132.18,71.75.36,1.51,2.17,9.51,1.63,10.26-.2.29-.61.3-.94.31-20.48,0-41-.16-61.44.25-1.36-2.16-2.26-4.74-3.59-7.02-3.92-6.75-10.57-12.79-17.67-16.03-21.63-9.86-46.61,1.12-54.2,23.36Z" /><path class="st1" d="M167.49,136.71c-3.43,18.37-19.54,32.28-38.91,32.28s-35.08-13.56-38.79-31.58l-63.22.75c5.58,40.18,35.52,73.54,75.16,83.98,51.06,13.45,103.61-13.4,122.47-61.53,3.04-7.75,4.94-15.94,6-24.19l-62.71.29Z" /><path class="st2" d="M227.9,110.11c-13.96-57.88-76.66-91.69-133.81-71.75-36.27,12.66-63.42,45.57-67.52,83.55l63.25-.67c3.76-17.95,19.68-31.44,38.75-31.44s34.79,13.32,38.68,31.11c20.41-.38,40.9-.23,61.35-.24.33,0,.75-.01.95-.31.54-.76-1.29-8.76-1.65-10.26Z" /></g><g id="Capa_3"><path class="st0" d="M166.93,130.42c3.69-13.33-1.44-24.95-11.29-35.67-1.43-1.4.37-7.94,3.76-17.02,1.8-4.29-1.06-5.68-2.54-2.93-10.7,23.56-33.05,13.74-13.63-6.44,2.61-3.36,1.01-4.44-3.16-4.14-3.86.09-5.34-2.94-1.31-6,8.06-6.78,13.32-16.93,16.8-29.23-13.27,14.94-26.69,27.99-40.47,36.87-4.98,3.29-6.67,6.42-2.51,9.27,2.47,1.51-.41,5.02-11.45,11.56-1.91.93-2.63,3.16-2.29,6.54.24,3.34-3.7,8.77-10.96,15.87-2.2,3.22-1.31,18.65-1.31,18.65,0,0-3.42-.09-5.04-3.98-.49,6.94,8.43,19.94,16.63,32.61,1.3,2.43,0,6.83-1.96,11.73,6.17-4.67,12.07-5.75,17.56-1.53,6.27,6.01,6.46,11.05,2.84,15.49-11.16,15.54-18.26,32.92-21.81,51.92,11.42-22.13,26.15-41.15,48.96-52.61,3.27-1.52,2.9-3.71-2.55-3.33-4.89.04-4.42-6.44,1.85-8.56,11.07-6,19.58-16.75,26.79-29.91.81-1.7,1.17-3.8,1.34-6.11,3.26-2.79,5.3-5.95,5.48-9.65-3.3,4.28-6.55,7.21-9.71,6.6ZM125.62,109.38c.41.82.22,1.82-.07,2.69-1.06,3.16-3.36,5.88-6.3,7.44-.24.13-.49.25-.75.31-.8.18-1.63-.22-2.27-.73-.31-.24-.6-.52-.76-.89-.14-.34-.14-.72-.12-1.09.11-1.64.68-3.25,1.62-4.61.45-.65.98-1.24,1.52-1.83.7-.77,1.39-1.54,2.09-2.31.33-.36.51-.7,1-.75.43-.05.89.06,1.3.15,1.07.24,2.25.64,2.74,1.62ZM137.31,148.4c-1.98,4.27-5.92,7.58-10.47,8.79-.99.26-2.02.43-3.05.38-2.71-.13-5.12-1.76-7.06-3.65-.96-.93-1.94-1.99-3.25-2.25-1.09-.22-2.21.16-3.32.08-2.08-.16-3.66-1.87-5.02-3.46-3.24-3.8-6.55-7.77-7.91-12.58-.99-3.5-.86-7.2-.67-10.83.14-2.74.32-5.48.54-8.22.2-2.58.46-5.25,1.67-7.53.86-1.62,2.15-2.95,3.45-4.25,4.25-4.24,8.75-8.23,13.46-11.96.97-.77,1.99-1.54,3.18-1.87,4.08-1.14,4.39,2.96,2.69,5.43-2.21,3.22-5.6,5.57-8.29,8.37-3.02,3.13-5.55,7.34-4.77,11.61.37,2.01,1.44,3.85,1.74,5.87.56,3.8-2.1,7.8-5.82,8.74-.73.19-1.52.29-2.07.8-1.1,1.02-.35,3.03,1,3.69,1.35.65,2.94.38,4.41.09,2.97-.59,6.01-1.2,8.62-2.73,1.4-.82,2.66-1.9,4.14-2.57,1.48-.68,3.31-.9,4.67,0,.62,1.26.21,2.8-.53,3.99-.73,1.19-1.76,2.18-2.52,3.36-1.4,2.19-1.75,5.03-.92,7.5,2.71.34,5.53-.21,7.91-1.55,2.28-1.29,4.87-3.34,7.18-2.11,2.25,1.2,2.06,4.54.99,6.86ZM137.37,134.18c-.23.25-.48.48-.76.66-.68.44-1.52.57-2.32.51-.63-.05-1.27-.22-1.79-.58-1-.68-1.47-1.9-1.8-3.07-.4-1.37-.7-2.78-.66-4.2.02-.77.16-1.57.6-2.2.65-.93,1.86-1.33,2.99-1.37.89-.03,1.88.03,2.75.23.56.12.79.5,1.14.92.97,1.18,1.59,2.6,1.66,4.14.09,1.81-.58,3.64-1.81,4.97ZM159.82,130.8c-.01,1.25-.03,2.51-.37,3.71-.27.96-.75,1.86-1.22,2.74-1.69,3.16-3.4,6.31-5.12,9.45-.42.76-.84,1.52-1.47,2.12s-1.5.99-2.35.84c-.99-.17-1.72-1.04-2.14-1.95-.42-.91-.6-1.92-.99-2.84-.7-1.65-2.08-3.1-2.09-4.89,0-1.88,1.49-3.37,2.25-5.09,1.25-2.79.33-6.38-2.11-8.23-.63-.48-1.35-.85-1.84-1.46-.74-.9-.86-2.17-.64-3.32.22-1.14.74-2.2,1.19-3.27.32-.76.61-1.55.64-2.38.09-2.32-2.08-4.38-4.39-4.44-1.16-.03-2.29.36-3.43.59-1.16.24-2.35.33-3.52.26-.88-.05-1.83-.22-2.46-.84-.71-.71-.84-1.85-.56-2.81.28-.96.9-1.78,1.53-2.56,1.79-2.21,3.76-4.28,5.89-6.18,1.17-1.04,2.42-2.06,3.91-2.53s3.28-.32,4.4.78c.9.88,1.17,2.11,1.17,3.33,0,1.08-.62,2.29.22,3.1.87.85,2.75,1.24,3.84,1.84,1.32.72,2.58,1.56,3.68,2.58,2.8,2.6,4.44,6.27,5.22,10.02.78,3.75.77,7.61.74,11.43Z" /></g></svg>
            <span>PKzen</span>
        </div>

        <!-- Contenedor del menú horizontal tipo cilindro -->
        <div class="menu-container" @onmousedown:stopPropagation>
            <ul class="navbar-menu">
                <!-- Pokedex -->
                <li class="@IsActive("pokedex")">
                    <a href="pokedex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48"><circle cx="23.99" cy="23.99" r="21.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.5" /><circle cx="23.99" cy="23.99" r="8.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.5" /><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M2.49 23.99h13m17 0h13" stroke-width="4.5" /></svg>
                    </a>
                </li>
                <!-- Generador de equipos -->
                <li class="@IsActive("/eam-generator")">
                    <a href="team-generator">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 6v12a3 3 0 1 0 3-3H6a3 3 0 1 0 3 3V6a3 3 0 1 0-3 3h12a3 3 0 1 0-3-3"></path></svg>
                    </a>
                </li>
                <!-- Editor de partidas -->
                <li class="@IsActive("save-file-editor")">
                    <a href="save-file-editor">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                    </a>
                </li>
                <!-- GUI -->
                <li class="@IsActive("gui")">
                    <a href="/gui">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg>
                    </a>
                </li>
                <!-- Ajustes -->
                <li class="@IsActive("settings")">
                    <a href="settings">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="m20.35 8.923l-.366-.204l-.113-.064a2 2 0 0 1-.67-.66c-.018-.027-.034-.056-.066-.112a2 2 0 0 1-.3-1.157l.006-.425c.012-.68.018-1.022-.078-1.328a2 2 0 0 0-.417-.736c-.214-.24-.511-.412-1.106-.754l-.494-.285c-.592-.341-.889-.512-1.204-.577a2 2 0 0 0-.843.007c-.313.07-.606.246-1.191.596l-.003.002l-.354.211c-.056.034-.085.05-.113.066c-.278.155-.588.24-.907.25c-.032.002-.065.002-.13.002l-.13-.001a2 2 0 0 1-.91-.252c-.028-.015-.055-.032-.111-.066l-.357-.214c-.589-.354-.884-.53-1.199-.601a2 2 0 0 0-.846-.006c-.316.066-.612.238-1.205.582l-.003.001l-.488.283l-.005.004c-.588.34-.883.512-1.095.751a2 2 0 0 0-.415.734c-.095.307-.09.649-.078 1.333l.007.424c0 .065.003.097.002.128a2 2 0 0 1-.301 1.027c-.033.056-.048.084-.065.11a2 2 0 0 1-.675.664l-.112.063l-.361.2c-.602.333-.903.5-1.121.738a2 2 0 0 0-.43.73c-.1.307-.1.65-.099 1.338l.002.563c.001.683.003 1.024.104 1.329a2 2 0 0 0 .427.726c.218.236.516.402 1.113.734l.358.199c.061.034.092.05.121.068a2 2 0 0 1 .74.781l.067.12a2 2 0 0 1 .23 1.038l-.007.407c-.012.686-.017 1.03.079 1.337c.085.272.227.523.417.736c.214.24.512.411 1.106.754l.494.285c.593.341.889.512 1.204.577a2 2 0 0 0 .843-.007c.314-.07.607-.246 1.194-.598l.354-.212l.113-.066c.278-.154.588-.24.907-.25l.13-.001h.13c.318.01.63.097.91.252l.092.055l.376.226c.59.354.884.53 1.199.6a2 2 0 0 0 .846.008c.315-.066.613-.239 1.206-.583l.495-.287c.588-.342.883-.513 1.095-.752c.19-.213.33-.463.415-.734c.095-.305.09-.644.078-1.318l-.008-.44v-.127a2 2 0 0 1 .3-1.028l.065-.11a2 2 0 0 1 .675-.664l.11-.061l.002-.001l.361-.2c.602-.334.903-.5 1.122-.738c.194-.21.34-.46.429-.73c.1-.305.1-.647.098-1.327l-.002-.574c-.001-.683-.002-1.025-.103-1.33a2 2 0 0 0-.428-.725c-.217-.236-.515-.402-1.111-.733z" /><path d="M8 12a4 4 0 1 0 8 0a4 4 0 0 0-8 0" /></g></svg>
                        @* <div class="notification-badge"></div> *@
                    </a>
                </li>
            </ul>
        </div>

        <!-- Controles de windows -->
        <WindowControls isMinimize="true" isMaximize="true" isClose="true" />
    </div>

    <!-- Área principal -->
    <div class="main-wrapper">
        <div class="main-content">
            <!-- Contenido principal -->
            @Body
        </div>
    </div>
</div>